* {
  color: grey;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  margin: 0;
}

h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 30px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  font-weight: 100;
  color: grey;
  outline: none;
  border: 0.5px solid #e0e0e0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

ul {
  list-style-type: none;
  background-color: white;
  padding-left: 0;
  margin: 0;
  font-weight: 100;
}

li {
  font-size: 30px;
  font-weight: 100;
  color: grey;
  background-color: #fff;
  padding: 15px 25px;
  border: 0.5px solid #e0e0e0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

li span {
  display: none;
  margin-left: 10px;
  cursor: pointer;
}

li:hover span {
  display: inline-block;
}

li span:hover {
  color: red;
}

button {
  border: none;
}

p {
  font-size: 15px;
}

.paper {
  background: #fff;
  padding: 10px;
  border: 0.5px solid #e0e0e0;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0, 0, 0, 0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
}